<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="goToDashboard()">Online Course Platform</a>
    <button
      *ngIf="isLoggedIn"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Profile Icon -->
      <div *ngIf="isLoggedIn" class="profile-menu">
        <i
          class="bi bi-person-circle profile-icon"
          (click)="toggleProfileMenu()"
        ></i>
        <div *ngIf="showProfileMenu" class="profile-dropdown">
          <a class="dropdown-item" routerLink="/profile">Update Profile</a>
          <a class="dropdown-item" (click)="onLogout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>