/* filepath: /Users/devu2456/Development/BITS/online-course-platform/src/app/profile/profile.component.scss */
.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }